<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Mulligan.Data.Properties.Settings.MulliganConnectionString"
            connectionString="Data Source=benchwork.cuy6y8gcyib9.us-east-1.rds.amazonaws.com;Initial Catalog=Mulligan;Persist Security Info=True;User ID=su;Password=B3nchW0rk!;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>